entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  le:
    acme:
      email: "${TRAEFIK_ACME_EMAIL}"
      storage: "/acme/acme.json"
      httpChallenge:
        entryPoint: web

api:
  dashboard: false

log:
  level: INFO

